@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
	--heading-text: #000000;
	
	--item-1-clr: #AC92EB;
	--item-2-clr: #4FC1E8;
	--item-3-clr: #A0D568;
	--item-4-clr: #FFCE54;
	--item-5-clr: #ED5564;
	
	--hex-text: #000000;
	--hex-card: rgba(0,0,0,0.2);
	
	--hex-card-hover: #000000;
	--hex-text-hover: #ffffff;
	
	--copy-text: #ffffff;
	--copy-bg: #000000;
}

.heading{
	
	margin: 6vh;
	padding: 1rem,0.5rem;
	text-align: center;
	color: var(--heading-text);
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.25rem;
}

.color-1{
	background-color: var(--item-1-clr);
	color: var(--item-1-clr);
}
.color-2{
	background-color: var(--item-2-clr);
	color: var(--item-2-clr);
}
.color-3{
	background-color: var(--item-3-clr);
	color: var(--item-3-clr);
}
.color-4{
	background-color: var(--item-4-clr);
	color: var(--item-4-clr);
}
.color-5{
	background-color: var(--item-5-clr);
	color: var(--item-5-clr);
}

.palette{
	display: grid;
	width: 100vw;
	height: 60vh;
}
.palette-item{

	width: 100vw;
	height: 12vh;
	display: grid;
	grid-template-areas: 'hext card';
}

.color{
	grid-area: card;
	text-align: center;
	position: relative;
	cursor: pointer;
	width: 70vw;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.25rem;
	line-height: 12vh;
}
.color:hover{
	background-color:var(--copy-bg) !important; /*this makes sure that this style is applied even after JS manipulation*/
	color: var(--copy-text) !important;
}
	
.hexcode{
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.20rem;
	text-align: center;
	color: var(--hex-text);
	line-height: 12vh;/*vertically aligns text, height should be same as div*/
	background-color: var(--hex-card);
	grid-area: hext;
	cursor: pointer;
	width:30vw;
}
.hexcode:hover{
	color: var(--hex-text-hover);
  	background: var(--hex-card-hover);
}


#snackbar{
	visibility: hidden;
	width: 80vw;
	text-align: center;
	height: 10vh;
	line-height: 10vh;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.5rem;
	font-weight: 700;
	margin: auto;
	margin-top: 5vh;
	transition: all 0.3s ease;
}

@media screen and (min-width: 800px){
.palette{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	width: 100vw;
	height: 60vh;
}
.palette-item-2{

	width: 20vw;
	display: grid;
	grid-template-areas: "card""hext";
}
.color-big{
	width: 20vw;
	height: 50vh;
	line-height: 50vh;
}
.hexcode{
	line-height: 10vh;/*vertically aligns text*/
	width:20vw;
	height: 10vh;
}
	
}
	
	
	
	
